<!-- mini_admin.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Админская часть</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <select name="group_filter">
            <option value="-1">Все группы</option>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Применить фильтр">
    </form>

    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Группа</th>
                <th>ФИ</th>
                <th>Кнопка просмотр результатов</th>
            </tr>
        </thead>
        <tbody>
            {% for user_answer in user_answers %}
                <tr>
                    <td>{{ user_answer.date }}</td>
                    <td>{{ user_answer.group.title }}</td>
                    <td>{{ user_answer.user.full_name }}</td>
                    <td>
                        <form action="{% url 'view_results' user_answer.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Просмотр результатов">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
